  <div class="session-container d-flex justify-content-between ">
  <div class="session-info ">
<h2 class="mb-5 ">Loan Management System </h2>
    <%= image_tag 'homepage_image.webp', class: "img-fluid rounded", alt: "login page image." %>
        <p class="my-4 font-italic font-weight-bold text-justify" style="word-spacing: 10px">
      A Loan management application is a software system designed to streamline and enhance various administrative and operational tasks within a loan facility. This application serves as a centralized platform for managing different aspects of financial operations, including lenders records, appointments, staff scheduling, billing, inventory management, and more.

      One of the primary features of a loan management application is money management. It allows money providers to maintain comprehensive electronic financial records  for each lender, including loan history. This digital record system improves the efficiency of data retrieval, reduces paperwork, and enables better collaboration among financial professionals.
    </p>
  </div>
  <div class="container form-container g-5 p-5 m-5">
      <h1 class="text-center">Sign up</h1>
      <%= form_for @user, class: "my-form" do |form| %>
        <div class="form-group">
          <%= form.label :name, class: 'required' %>
          <%= form.text_field :name, class: "form-control", placeholder: "Enter Your Name" , required: true%>
          <p class='error'><%= show_errors(@user, :name) %></p>

        </div>
        <div class="form-group">
          <%= form.label :email, class: 'required' %>
          <%= form.email_field :email, class: "form-control", placeholder: "Enter Your Email", required: true%>
                    <p class='error'><%= show_errors(@user, :email) %></p>

        </div>
        <div class="form-group">
          <%= form.label :password, class: 'required' %>
          <%= form.password_field :password, class: "form-control", placeholder: "Enter Your Password", required: true%>
                    <p class='error'><%= show_errors(@user, :password) %></p>

        </div>
        <div class="form-group">
          <%= form.label :password_confirmation, class: 'required' %>
          <%= form.password_field :password_confirmation, class: "form-control", placeholder: "Confirm Your Password", required: true%>
                    <p class='error'><%= show_errors(@user, :password_confirmation) %></p>

        </div>
        <%= link_to "Already an user? Login", new_session_path %>
        <%= form.submit "Sign Up", class: " mt-3 button-design form-control btn-primary" %>
      <% end %>
  </div>
  </div>
