<div class="container">
  <div class="row justify-content-center ">
    <div class="col-md-6 mt-5">
      <h1 class="text-center">Profile</h1>
<div class="card user-card custom-shadow">
  <div class="card-body text-center">
    <p>
      <strong>Name:</strong>
      <%= @user.name %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>
    <p>
      <strong>Role:</strong>
      <%= @user.role %>
    </p>

    <p>
      <strong>Wallet Balance:</strong>
      <%= @wallet_balance %>
    </p>
    <p>
      <strong>Open Loan:</strong>
      <%= @open_loan %>
    </p>
    <p>
      <strong>Close Loan:</strong>
      <%= @closed_loan %>
    </p>
  </div>
</div>


      </div>
    </div>
  </div>
</div>
